*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
    flex-wrap: wrap;
    

}
/*part1*/
.part1{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    
}
.part1 .search input{
    border: none;
    padding: 10px;
}
.part1 .search{
    position: relative;
    left: 100px;
    

}
.part1 .search .fa-magnifying-glass{
    color: #bdc3c7;
}
.search input:focus{
    outline: none;
}
button{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
    font-size: 27px;
    justify-content: center;
    position: relative;
    left: 425px;
    
}
 .icon1{
    color: #95a5a6;
    position: relative;
    padding-left: 850px;
    
}
.icon1 .fa-user:hover{
    color: purple;
}
.icon1 .fa-heart:hover{
    color: purple;
}
.icon1 .fa-cart-shopping:hover{
    color: purple;
}
.icon1 .fa-user{
    padding: 5px;
}
.icon1 .fa-heart{
    padding: 5px;
}
.icon1 .fa-cart-shopping{
    padding: 5px;
}
/*end part1*/


/*navbar*/

nav {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    position: relative;
    left: 460px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
nav ul{
    display: flex;
   
    
}
nav a{
    text-decoration: none;
    align-items: center;
    padding: 20px;
    color: #2c3e50;
}
nav a:hover{
    color: purple;
}
.dropdown .dropbtn{
    font-size: 15px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    outline: none;
    color: #2c3e50;
    margin: -5px;
    align-items: center;
    position: relative;
    left: -5px;
    padding: 20px;
}
.dropdown .dropbtn:hover{
    color: purple
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }




/*end navbar*/
.section1{
    width: 100%;
    height: 70px;
}
.section1 .sec {
    width: 100%;
    height: 70px;
    background-color: #f1f2f6;
    color: black;
   
    
}
.section1 .sec a{
    text-decoration: none;
    color: black;
    position: relative;
    top: 25px;
    left: 90px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.section1 .sec a:hover{
    color: purple;
}
.sec2{
    display: flex;

}
.sec2 h1{
    font-size: 40px;
    position: relative;
    right: 95px;
}
.sec2 .p-1{
    position: relative;
    right: 90px;
    color: #95a5a6;
    top: 40px;
}
.sec2 .p-2{
    position: relative;
    right: 90px;
    top: 70px;
    color: #95a5a6;
}
.sec2 .p-3{
    position: relative;
    right: 90px;
    top: 100px;
    font-size: 35px;
    color: purple;
}
form{
    display: flex;
    position: relative;
    top: 150px;
    right: 100px;
 
}
form input{
    margin-left: 15px;

}
.contener{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 300px;
    top: 100px;
}
.sec2 img{
    width: 600px;
    position: relative;
    top: 100px;
    left: 100px;
}
.contener .buy button{
    background-color: white;
    transition: all 0.5s;
    height: 35px;
   border: 1px solid black;
    width: 5px;
    position: relative;
    top: 200px;
    left: -90px;
    align-items: center;
   
}
.contener .buy button:hover{
    transform: scale(1.1);
    background-color: purple;
}

.contener .buy input{
    width: 60px;
    text-align: center;
    border-radius: 4px;
    height: 33px;
    position: relative;
    top: 190px;
    right: 90px;
    border: 1px solid #a5b1c2;
}
.contener .buy .sty1{
    border-right: none;
    border-radius: 5px;
    width: 10px;
    height: 35px;
    text-align: center;
}
.contener .buy .sty2{
    border-left: none;
    border-radius: 5px;
}
.contener .buy{
    text-align: left;
    position: relative;
    top: -20px;
}
.contener .buy .sty1 p{
    position: relative;
    bottom: 5px;
}
.contener .buy .sty2 p{
    position: relative;
    bottom: 4px;
    right: 5px;
}



.button-66 {
    background-color: purple;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    left: -90px;
    top: 220px;
    
}
.button-66 a{
    text-decoration: none;
    color: white;
}
  
 .button-66:hover {
    background-color: purple;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-66 {
      padding: 16px 44px;
      min-width: 150px;
    }


    /*end setion2*/


    .section3{
        width: 100%;
        height: 700px;
        background-color: #f1f2f6;
        position: relative;
        top: 400px;
    }
    .section3 hr{
        width: 50px;
        position: relative;
        top: 40px;
       left: 50%;
       border: 2px solid purple;
       border-radius: 100px;
    }
    .section3 h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: relative;
        top: 70px;
        left: 580px;
        font-weight: bold;
        font-size: 50px;
    }
    
    
    
    .card4 {
        width: 350px;
        height: 400px;
        background: white;
        padding: .4em;
        border-radius: 6px;
        position: relative;
        top: 120px;
        left: 80px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .card-image {
        background-color: rgb(236, 236, 236);
        width: 100%;
        height: 40%;
        border-radius: 6px 6px 0 0;
      }
     .card-image img{
        width: 350px;
        height: 250px;
      }
      
      .card-image:hover {
        transform: scale(0.98);
      }
    .card4 .category {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        color: rgb(63, 121, 230);
        padding: 10px 7px 0;
        position: relative;
        top: 110px;
        left: 125px;
    
      }
      
      .category:hover {
        cursor: pointer;
      }
      
    .card4 .heading {
        font-weight: 600;
        color: rgb(88, 87, 87);
        padding: 7px;
        position: relative;
        top: 95px;
        left: 85px;
      }
      .heading span{
        position: relative;
        color: rgb(63, 121, 230);
        top: 10px;
        left: 65px;
      }
      
      .heading:hover {
        cursor: pointer;
    
      }
      .card5 {
        width: 350px;
        height: 400px;
        background: white;
        padding: .4em;
        border-radius: 6px;
        position: relative;
        top: -290px;
        left: 600px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .card-image {
        background-color: rgb(236, 236, 236);
        width: 100%;
        height: 40%;
        border-radius: 6px 6px 0 0;
      }
      .card-image img{
        width: 338px;
        height: 250px;
        background-color: #808e9b;
      }
      
      .card-image:hover {
        transform: scale(0.98);
      }
      .category {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        color: rgb(63, 121, 230);
        padding: 10px 7px 0;
        position: relative;
        top: 110px;
        left: 130px;
    
      }
      
      .category:hover {
        cursor: pointer;
      }
      
      .heading {
        font-weight: 600;
        color: rgb(88, 87, 87);
        padding: 7px;
        position: relative;
        top: 95px;
        left: 80px;
      }
      .heading span{
        position: relative;
        color: rgb(63, 121, 230);
        top: 10px;
        left: 70px;
      }
      
      .heading:hover {
        cursor: pointer;
    
      }
      
      .card6 {
        width: 350px;
        height: 400px;
        background: white;
        padding: .4em;
        border-radius: 6px;
        position: relative;
        bottom: 700px;
        left: 1100px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      .card-image6 {
        background-color: rgb(236, 236, 236);
        width: 100%;
        height: 40%;
        border-radius: 6px 6px 0 0;
      }
      .card-image6 img{
        width: 338px;
        height: 250px;
        background-color: #808e9b;
      }
      
      .card-image6:hover {
        transform: scale(0.98);
      }
      .category6 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        color: rgb(63, 121, 230);
        padding: 10px 7px 0;
        position: relative;
        top: 110px;
        left: 130px;
    
      }
      
      .category6:hover {
        cursor: pointer;
      }
      
      .heading6 {
        font-weight: 600;
        color: rgb(88, 87, 87);
        padding: 7px;
        position: relative;
        top: 95px;
        left: 80px;
      }
      .heading6 span{
        position: relative;
        color: rgb(63, 121, 230);
        top: 10px;
        left: 70px;
      }
      
      .heading6:hover {
        cursor: pointer;
    
      }
      
    .section3 .fa-arrow-right{
        position: absolute;
        bottom: 50px;
        font-size: 30px;
        left: 820px;
    }
    
    .section3 .fa-arrow-left{
        position: absolute;
        bottom: 50px;
        font-size: 30px;
        left: 720px;
        color: #d2dae2;
    }

    /*end secyion3*/

    footer{
        width: 100%;
        height: 300px;
        display: flex;
        position: relative;
        top: 300px;
    }
    footer .contener{
        display: flex;
        position: relative;
        top: 300px;
        left: 100px;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #a5b1c2;
    
    }
    .contener .big{
        color: black;
        position: relative;
        bottom: 150px;
        left: 30px;
        font-size: 25px;
        font-weight: bolder; 
    }
    
    .contener .ul1{
        position: relative;
        top: -60px;
        left: -120px;
    }
    
    .contener .ul2{
        position: relative;
        top: -60px;
        left: -50px;
    }
    .contener .ul3{
        position: relative;
        top: -60px;
        left: 10px;
    }
    .contener li{
        padding: 10px;
    }
    .contener2{
        position: relative;
        top: 170px;
        left: 170px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }
    .contener2 .tth{
        font-size: 25px;
        font-weight: bolder;
        padding: 25px;
        position: relative;
        top: -20px;
        left: -25px;
    
    }
    .contener2 img{
        width: 300px;
    }
    .contener2 .pup{
        color: purple;
    }
    .contener3{
        position: relative;
        top: 180px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        left: 230px;
    }
    .contener3 .thhh {
        font-size: 25px;
        font-weight: bolder;
        color: black;
    
    }
    .contener3 li{
        padding: 10px;
        color: #a5b1c2;
    }
    .loc .fa-location-dot{
        color: purple;
    }
    .contener3  .fa-phone{
        color: purple;
    }
    .contener3  .fa-envelope{
        color: purple;
    }
    .contener3 .sup{
        color: black;
        font-weight: bold;
    }
    .contener3 input{
        height: 40px;
        width: 150px;
        padding-left: 10px;
    }
    .button-6666 {
        background-color: purple;
        border-radius: 4px;
        border: 0;
        box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inherit;
        font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        min-height: 0px;
        min-width: 0px;
        padding-left: 20px;
        position: relative;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        transition: all .2s cubic-bezier(.22, .61, .36, 1);
        left: 150px;
        top: -41px;
        width: 80px;
        height: 40px;
        
    }
      
     .button-6666:hover {
        background-color: purple;
        transform: translateY(-2px);
      }
      
      @media (min-width: 768px) {
        /*end footer*/
        
    .end-fot {
        display: flex;
        position: relative;
        top: 550px;
        left: 450px;
        width: 100%;
        color: #a5b1c2;
    }
    .end-fot p{
        color: purple;
        padding-left: 10px;
        font-weight: bold;
    }
    
    
    
    